@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:wght@100&family=Cairo&family=Dancing+Script&family=Exo+2&family=Fraunces:opsz,wght@9..144,700&family=Gemunu+Libre:wght@200&family=Glory:wght@200&family=Montserrat:ital,wght@0,200;0,400;0,700;1,100&family=PT+Serif:ital,wght@0,400;0,700;1,700&family=Poppins:wght@300;400&family=Roboto+Mono:wght@100;300&family=Rubik&family=Ruwudu&family=Victor+Mono:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Gemunu Libre', 'Cairo', sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: #0093E9 linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: grid;
    place-items: start center;
    padding: 12px;
}

.tasks-area {
    display: flex;
    flex-direction: row;
    border: 2px solid #0093E9;
    padding: 3px;
    background-color: #FBFBFB;
}

/* Media query for screens with a maximum width of 320px */
@media (max-width: 320px) {
    .tasks-area {
        flex-direction: column; /* Stack items vertically */
        border: 0; /* Remove border */
        padding: 10px; /* Add spacing between items */
    }
}
